.invalid-input {
  width: 35rem;
  background-color: #fff;
  border-radius: 8px;
  margin: 50vh auto;
  transform: translate(0, -50%);
}

.invalid-input h2 {
  padding: 1rem;
  background-color: #40005d;
  color: #fff;
  border-radius: 8px 8px 0 0;
}

.invalid-input__content {
  padding: 1rem;
  position: relative;
  min-height: 8rem;
}
